# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/
*.ipynb

# OS
.DS_Store
Thumbs.db

# Arquivos temporários
dados/test.txt

# IDEs
.vscode/
.idea/
